# php
bin/*

# phpstan and other packages
vendor/*

# composer
.cache/*
*.phar

# github related... and project editors...
.idea/*
.git/*
.DS_STORE/*

# tools such phpstan or php-cs-fixer
tools/*
*.exe
*.so
*.dll

# vscode etc.
*.prj
